*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: montserrat;
}

header{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 70px;
    color: black;
    background: #FFFFFF;
}

.whitebox{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

h1{
    width: 10%;
    height: 70px;
    font-size: 2em;
    margin-left: 3rem;
    text-align: right;
    margin-top: 1.2rem;
}

.menu{
    width: 90%;
    height: 70px;
    display: flex;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.5rem;
    list-style: none;
}

.menu li{
    text-align: center;
    font-size: 20px;
    width: 11%;
    transition: 1s all;
}

li:hover{
    text-shadow: 1px 5px 8px rgb(17, 132, 209);
    transform: scale(1.3);
    font-weight: bold;
    cursor: pointer;
}

main{
    width: 100%;
    height: 219vh;
}

.bluebox{
    background-image: url("img/laranja\ azul\ recorte.1.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.sentence{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
    margin-top: 18rem;
}

h2{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-top: 1rem;
    width: 15%;
    height: 100px;
    margin-left: 5rem;
    font-size: 3rem;
}

.imagine{
    transition: 1s all;
}

.imagine:hover{
    text-shadow: 5px 1px 30px #FFFFFF, 5px 1px 30px #e7ea40, 5px 1px 30px #e7ea40;
    text-transform: uppercase;
}

.discuss{
    margin-left: 5px;
    font-size: 3.2rem;
    transition: 1s all;
}

.discuss:hover{
    transform: rotate(360deg);
}

.draw{
    margin-left: 5px;
    transition: 1s all;
}
.draw:hover{
    transform: scale(1.2);
    color: orange;
}

h3{
    width: 216px;
    height: 3rem;
    margin-left: 5rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.6em;
    cursor: pointer;
    height: 2.1rem;
}

h3:hover{
    border-bottom: dashed 4px;
}

.figures{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.figures img{
    object-fit: contain;
    width: 18%;
    transition: 1s all;
}

.figures-one{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.figures-one img:hover{
    border-radius: 50px;
    transform: scale(1.2);
}

.figures-two{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.figures-two img:hover{
    border-radius: 50px;
    transform: scale(1.2);
}

.figures-three{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

.figures-three img:hover{
    border-radius: 50px;
    transform: scale(1.2);
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 243, 243);
}

.web{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;

}
.web img{ 
    object-fit: contain;
    width: 40px;
    height: 40px;
}

h4{
    width: 10%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width: 60%;
}

@media (max-width: 1235px){
    h2{
        margin-right: 20px;
    }

    footer{
        margin-top: 45%;
        width: 100%;
    }

    .web{
        width: 40%;
    }

    h4{
        width: 30%;
    }

    p{
        width: 70%;
    }
}

@media (max-width: 1100px){
    h2{
        margin-right: 20px;
        font-size: 2.5rem;
    }

    .discuss{
        font-size: 2.5rem;
    }
}

@media(max-width: 1140px){
    .web img{
        width: 30px
    }
}

@media (max-width: 1045px){
    .sentence h2{
        font-size: 2.3rem;
        margin-right: 10px;
    }

    h3{
        font-size: 1.3em;
    }
}

@media (max-width: 1000px){
    .sentence h2{
        font-size: 2.2rem;
    }
    
    h3{
        font-size: 1.3em;
    }

    p{
        font-size: 10px;
    }
}

@media (max-width:900px){
    .menu li{
        font-size: 18px;
    }

    .sentence h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1em;
    }
}

@media (max-width: 813px){
    .web img{
        width: 25px;
    }
}

@media (max-width: 800px){
    .menu li{
        font-size: 15px;
    }

    .sentence h2{
        font-size: 1.7rem;
    }
}

@media (max-width: 732px){
    .web img{
        width: 22px;
    }
}

@media (max-width: 688px){
    .web img{
        width: 20px;
    }
}

@media (max-width: 660px){
    .web img{
        width: 18px;
    }
}

@media (max-width: 600px){
    .menu li{
        display: none;
    }

    h1{
        width: 20%;
        margin-left: 35%;
    }

    .sentence h2{
        margin-right: 35px;
    }
}

@media (max-width: 450px){

    header{
        height: 40px;
    }

    .hamburguer{
        background-image: url(img/menu\ hamburguer.1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 130px;
        height: 40px;
        position: fixed;
    }

    h1{
        margin-left: 170px;
        margin-top: 0;
}

    .bluebox{
        background-image: url("img/laranja\ azul\ recorte.2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150vh;
        object-fit: contain;
    }

    .sentence{
        display: flex;
        flex-direction: column;
        margin-top: 20rem;
        width: 60%;
        height: 12rem;
        margin-left: 3rem;
    }

    h2{
       width: auto;
       margin-left: 0px;
    }

    .discuss{
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .draw{
        margin-left: 0rem;
        margin-top: 0rem;
    }

    h3{
        margin-left: 3rem;
        font-size: 1.2em;
        margin-top: 1.5rem;
        width: 40%
    }

    .figures img{
        width: 70%;
        margin-bottom: 25px;
    }

    .figures-one{
        flex-direction: column;
        align-items: center;  
    }
    
    .figures-two{
        flex-direction: column;
        align-items: center;  
    }
    
    .figures-three{
        flex-direction: column;
        align-items: center;  
    }

    footer{
        flex-direction: column;
        margin-top: 875%;
    }
    
    .web{
        background: #7FDBD4;
        width: 90%;
        height: 5rem;
    }
    
    .web img{
        height: 2rem;
    }
    
    h4{
        width: 10rem;
        padding-top: 1rem;
    }
    
    p{
        font-size: 0.8em;
        width: 14rem;
        height: 4.5rem;
        margin-top: 0rem;
        margin-left: 1.5rem;
    }

    .top{
        display: flex;
        flex-direction: row;
    }

    .topbutton{
        background-image: url(img/topo.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        object-fit: cover;
        width: 7rem;
        margin-left: 4rem;
    }
}
